#container {
    display: grid;
    height: 60vh;
    width: 60vh;
    margin:auto;
    border:#AF231C solid 20px;
    border-radius: 10px;
    margin-top: 5vh;
}

.cells {
    border-width: 0px;
}

.mouse-over {
    background-color: black;
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 7vh;
    color: #241DAF;
}

#button-div {
    margin-top: 10px;
    text-align: center;
}

button {
    background-color: #241DAF;
    color: #FFFFFF;
}

header {
    height: 10vh;
}

footer {
    position: fixed;
    height: 10vh;
    background-color: #241DAF;
    bottom: 0;
    width: 100%;
}

#by {
    margin-bottom: 0px;
    color: #FFFFFF;
}